/* CUTE PRETTY ROMANCE AND ROSES */
:root{
  --bg: #ede3c6;
  --surface: #fff0c5;
  --border: #e8c6a4;
  --accent: #e24a70;
  --accent-dim: #c57575;
  --text: #313131;
  --text-dim: #867c6d;
  --text-dimmer: #d7bea2;
}