/* SUMMER FIELDS */
:root{
  --bg: #fefae0;
  --surface: #faedcd;
  --border: #f8d0a9;
  --accent: #d68432;
  --accent-dim: #d4a373;
  --text: #5a6436;
  --text-dim: #889362;
  --text-dimmer: #ccd5ae; 
}