{% extends "base.html" %}
{% block title %}Dictionary ⋄ Conlexa{% endblock %}
{% block h1 %}Conlexa{% endblock %}
{% block subtitle %}Conlanging Tool{% endblock %}
{% block content %}
<div class="layout">
  <aside>
    <button class="sidebar-btn" onclick="window.location.href='/prefs'">Preferences</button>
    <button class="sidebar-btn" onclick="window.location.href='/theme'">Theme</button>
  </aside>

  <main id="content">
    <h2 class="page-link"><a href="/dictionary">Dictionary</a></h2>
    <h2 class="page-link"><a href="/phono/ipa">IPA Rulesets</a></h2>
    <h2 class="page-link"><a href="/langs">Languages</a></h2>
  </main>
</div>
{% endblock %}
